figure {
  margin: 0;
}

.container {
  width: 500px;
  height: 300px;
  text-align: left;
  margin: 60px auto;
  -webkit-perspective: 1000px;
  -webkit-perspective-origin: 50% -25%;
}

.carousel {
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translateZ(-540px);
  position: relative;
  margin: 0;
  width: 550px;
  height: 400px;
  -webkit-transition: 1s;
}

.carousel div {
  position: absolute;
  border: 15px solid rgba(0, 0, 0, 0.8);
  opacity: 0.5;
  -webkit-transition: 1s;
  width: 550px;
  height: 400px;
}

.carousel div:nth-child(1) {
  -webkit-transform: translateZ(540px) scale(0.8);
  background-color: #ff5733;
}

.carousel div:nth-child(2) {
  -webkit-transform: rotateY(45deg) translateZ(540px) scale(0.8);
  background-color: #33ff57;
}

.carousel div:nth-child(3) {
  -webkit-transform: rotateY(90deg) translateZ(540px) scale(0.8);
  background-color: #5733ff;
}

.carousel div:nth-child(4) {
  -webkit-transform: rotateY(135deg) translateZ(540px) scale(0.8);
  background-color: #ff5733;
}

.carousel div:nth-child(5) {
  -webkit-transform: rotateY(180deg) translateZ(540px) scale(0.8);
  background-color: #33ff57;
}

.carousel div:nth-child(6) {
  -webkit-transform: rotateY(225deg) translateZ(540px) scale(0.8);
  background-color: #5733ff;
}

.carousel div:nth-child(7) {
  -webkit-transform: rotateY(270deg) translateZ(540px) scale(0.8);
  background-color: #ff5733;
}

.carousel div:nth-child(8) {
  -webkit-transform: rotateY(315deg) translateZ(540px) scale(0.8);
  /* background-color: #33ff57; */
}

label {
  cursor: pointer;
  background: #eee;
  display: inline-flex;
  /* Use flexbox to center content vertically and horizontally */
  justify-content: center;
  /* Center content horizontally */
  align-items: center;
  /* Center content vertically */
  border-radius: 50%;
  width: 30px;
  height: 30px;

  /* Increase the height to create a circular label */
  font: 0.9em Arial;
}

.centered-inputs {
  display: flex;
  position: relative;
  justify-content: center;
  /* Center on the x-axis */
}

.carousel-input {
  position: absolute;
  left: -9999px;
  width: 100%;
  height: 100%;
}

.carousel-label {
  background: #ddd;
  margin-top: 3rem;
  margin-left: 5rem;
}

/*  */

/*  */
.carousel-input[value='1']:checked ~ .container .carousel {
  -webkit-transform: translateZ(-540px);
}

.carousel-input[value='2']:checked ~ .container .carousel {
  -webkit-transform: translateZ(-540px) rotateY(-45deg);
}

.carousel-input[value='3']:checked ~ .container .carousel {
  -webkit-transform: translateZ(-540px) rotateY(-90deg);
}

.carousel-input[value='4']:checked ~ .container .carousel {
  -webkit-transform: translateZ(-540px) rotateY(-135deg);
}

.carousel-input[value='5']:checked ~ .container .carousel {
  -webkit-transform: translateZ(-540px) rotateY(-180deg);
}

.carousel-input[value='6']:checked ~ .container .carousel {
  -webkit-transform: translateZ(-540px) rotateY(-225deg);
}

.carousel-input[value='7']:checked ~ .container .carousel {
  -webkit-transform: translateZ(-540px) rotateY(-270deg);
}

.carousel-input[value='8']:checked ~ .container .carousel {
  -webkit-transform: translateZ(-540px) rotateY(-315deg);
}

/* Repeat for other input values as needed */
