/* styles.css */

.ball {
  position: absolute;
  border: 2px solid black;
  border-radius: 50%;
  background-color: lightblue;
  pointer-events: auto;
  /* Enable mouse events on the balls */
  display: inline-block;
  width: 60px;
  /* Set the size of the circle */
  height: 60px;
  /* Set the size of the circle */
  user-select: none;
  /* Prevent text selection within the circle */
}

.ball a {
  text-decoration: none;
  /* Remove underlines from the links */
  color: black;
  /* Set the text color of the links */
}
